/* LESS(CSS) User Interface document */
/*  version:     0.1.2       */
/*  codename:    Cyaneous    */
/* ############################ */
/* ## ## ## UIElements ## ## ## */
* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  outline: none;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  -webkit-user-select: none;
}
body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body.dark {
  -webkit-filter: invert(100%);
}
body.preload * {
  -webkit-transition: all none ease-in-out !important;
  -moz-transition: all none ease-in-out !important;
  -ms-transition: all none ease-in-out !important;
  -o-transition: all none ease-in-out !important;
  transition: all none ease-in-out !important;
}
h1,
h2,
h3,
h4 {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
h1.bold,
h2.bold,
h3.bold,
h4.bold,
p.bold,
span.bold {
  font-weight: bold;
}
h2.italic,
h2.italic,
h3.italic,
h4.italic,
p.italic,
span.italic {
  font-style: italic;
}
h1 {
  font-size: 21px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
p {
  font-size: 14px;
}
span {
  font-size: 12px;
}
a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #666;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
}
a:hover {
  -webkit-text-shadow: 0 0 12px #777777;
  -moz-text-shadow: 0 0 12px #777777;
  -ms-text-shadow: 0 0 12px #777777;
  -o-text-shadow: 0 0 12px #777777;
  text-shadow: 0 0 12px #777777;
  color: #444;
  text-decoration: underline;
}
::input-placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
  padding-left: 4px;
  font-size: 12px;
  font-style: italic;
  opacity: 0.8;
}
:-moz-placeholder,
:-ms-input-placeholder {
  padding-left: 4px;
  font-style: italic;
  opacity: 0.8;
}
/* ########################## */
/* ## ## ## UINavBar ## ## ## */
nav.bar {
  height: 36px;
  margin: -1px auto 1px;
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  border: 1px solid #848a9b;
  border-width: 1px 0;
  box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 10px rgba(0, 0, 0, 0), 0 0 10px rgba(150, 150, 150, 0.9);
  color: #666;
  vertical-align: top;
  position: relative;
  z-index: 3;
}
nav.bar.dark {
  background: -webkit-linear-gradient(top, #4f5053, #292a2b);
  border-bottom: 1px solid #131415;
  box-shadow: inset 0 1px 0 #696a6d, inset 0 -1px 0 #49494b, 0 0 10px rgba(0, 0, 0, 0.9);
}
nav.bar > * {
  vertical-align: middle;
}
/* ################################### */
/* ## ## ## UIButton, UIInput ## ## ## */
button,
select,
input[type=submit],
input[type=reset],
input[type=cancel],
input[type=button] {
  display: inline-block;
  margin: 2px 5px;
  padding: 5px 15px 4px;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  border: 1px solid #afafaf;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px white;
  color: #666;
  font-size: 14px;
  text-align: center;
  text-shadow: 1px -1px 0 #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
}
button:hover,
select:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=cancel]:hover,
input[type=button]:hover {
  border-color: #959595;
  box-shadow: inset 0 0 0 1px #ffffff, inset 0 1px 5px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.1);
  color: #444;
}
button:active,
select:active,
input[type=submit]:active,
input[type=reset]:active,
input[type=cancel]:active,
input[type=button]:active {
  border-color: #818181;
  box-shadow: inset 0 0 0 1px #ffffff, inset 1px 5px 10px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.15);
  color: #222;
}
.action,
.danger,
.warning,
.success,
.info,
.inverse {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.2))) !important;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)) !important;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)) !important;
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)) !important;
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)) !important;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)) !important;
  border-color: rgba(0, 0, 0, 0.4);
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3) !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-text-shadow: -1px -1px 5px transparent;
  -moz-text-shadow: -1px -1px 5px transparent;
  -ms-text-shadow: -1px -1px 5px transparent;
  -o-text-shadow: -1px -1px 5px transparent;
  text-shadow: -1px -1px 5px transparent;
  border-bottom-color: rgba(0, 0, 0, 0.55);
  color: white;
}
.action:hover,
.danger:hover,
.warning:hover,
.success:hover,
.info:hover,
.inverse:hover {
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: white;
}
.action.active,
.danger.active,
.warning.active,
.success.active,
.info.active,
.inverse.active,
.action:active,
.danger:active,
.warning:active,
.success:active,
.info:active,
.inverse:active,
.action:focus,
.danger:focus,
.warning:focus,
.success:focus,
.info:focus,
.inverse:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.12))) !important;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.12)) !important;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.12)) !important;
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.12)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.12)) !important;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.12)) !important;
  border-color: rgba(0, 0, 0, 0.6);
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: white;
}
.action {
  background-color: #1a9cff;
}
.action:hover,
.action.active {
  background-color: #0083e6;
}
.danger {
  background-color: #ee666f;
}
.danger:hover,
.danger.active {
  background-color: #e93844;
}
.warning {
  background-color: #faa937;
}
.warning:hover,
.warning.active {
  background-color: #f89306;
}
.success {
  background-color: #62c462;
}
.success:hover,
.success.active {
  background-color: #42b142;
}
.info {
  background-color: #5bc0de;
}
.info:hover,
.info.active {
  background-color: #31b0d5;
}
.inverse {
  background-color: #666666;
}
.inverse:hover,
.inverse.active {
  background-color: #4d4d4d;
}
button.large {
  padding: 7px 18px 6px;
  font-size: 17px;
}
button.small {
  padding: 4px 8px 3px;
  font-size: 11px;
}
button.mini {
  padding: 1px 6px 0;
  font-size: 11px;
}
button[data-badge-value]::after {
  width: 12px;
  height: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(#ff0000 70%));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), #ff0000 70%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7), #ff0000 70%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7), #ff0000 70%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.7), #ff0000 70%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.7), #ff0000 70%);
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.1), -1px 0 15px rgba(0, 0, 0, 0.1), 0 1px 15px rgba(0, 0, 0, 0.1), 0 -1px 15px rgba(0, 0, 0, 0.1);
  padding: 1px 2px 4px 3px;
  background-color: red;
  content: attr(data-badge-value);
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-shadow: none;
  position: absolute;
  top: -8px;
  right: -9px;
}
select {
  border-radius: 15px;
  text-align: left;
  -webkit-appearance: none;
}
select option {
  font-size: 11px;
}
input[type=text],
input[type=number],
textarea {
  width: 120px;
  height: 20px;
  background-color: #ffffff;
  margin: 7px 5px;
  padding: 3px 9px;
  border-color: #afafaf;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px white;
  -ms-box-shadow: inset 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px white;
  -o-box-shadow: inset 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px white;
  box-shadow: inset 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 13px;
  color: #666;
  overflow: visible;
}
textarea {
  border-radius: 3px;
  padding: 5px 9px;
}
input[type=text]:hover,
input[type=number]:hover,
textarea:hover {
  border-color: #959595;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 7px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 7px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 7px rgba(0,0,0,0.2);
  -o-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 7px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 7px rgba(0,0,0,0.2);
  color: #444;
}
input[type=text]:focus,
input[type=number]:focus,
textarea:focus,
select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 10px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 10px rgba(82, 168, 236, 0.6);
  -ms-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 10px rgba(82, 168, 236, 0.6);
  -o-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 10px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 10px rgba(82, 168, 236, 0.6);
  color: #222;
}
input.invalid,
input.invalid:hover,
input.invalid:focus,
input:invalid,
input:invalid:hover,
input:invalid:focus {
  border-color: rgba(233, 50, 45, 0.8);
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 8px rgb(248,185,183);
  -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 8px rgb(248,185,183);
  -ms-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 8px rgb(248,185,183);
  -o-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 8px rgb(248,185,183);
  box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 8px rgb(248,185,183);
  color: #b94a48;
}
input.invalid:hover,
input.invalid:focus,
input:invalid:hover,
input:invalid:focus {
  border-color: #df2823;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 14px rgb(248,185,183);
  -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 14px rgb(248,185,183);
  -ms-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 14px rgb(248,185,183);
  -o-box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 14px rgb(248,185,183);
  box-shadow: inset 0 0 7px rgba(0,0,0,0.15), 0 0 14px rgb(248,185,183);
}
.invalid::-moz-placeholder,
.invalid:-moz-placeholder,
.invalid:-ms-input-placeholder,
:invalid::-moz-placeholder,
:invalid:-moz-placeholder,
:invalid:-ms-input-placeholder {
  color: #b94a48 !important;
}
.invalid::input-placeholder,
.invalid::-webkit-input-placeholder,
:invalid::input-placeholder,
:invalid::-webkit-input-placeholder {
  color: #b94a48 !important;
}
:disabled {
  background-color: #f0f0f0 !important;
  color: #161616;
  cursor: not-allowed;
  opacity: 0.5;
}
:disabled:hover {
  border-color: #afafaf !important;
  border-width: 1px !important;
  border-style: solid !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  opacity: 0.7;
}
.disabled::input-placeholder,
.disabled::-webkit-input-placeholder,
:disabled::input-placeholder,
:disabled::-webkit-input-placeholder {
  color: #000000 !important;
}
.disabled::-moz-placeholder,
.disabled:-moz-placeholder,
.disabled:-ms-input-placeholder,
:disabled::-moz-placeholder,
:disabled:-moz-placeholder,
:disabled:-ms-input-placeholder {
  color: #000000 !important;
}
.no-rounded {
  border-radius: 0;
}
.mini-rounded {
  border-radius: 2px;
}
.small-rounded {
  border-radius: 4px;
}
.medium-rounded {
  border-radius: 8px;
}
.large-rounded {
  border-radius: 15px;
}
.xl-rounded {
  border-radius: 20px;
}
.xxl-rounded {
  border-radius: 30px;
}
/* ###################################### */
/* ## ## ## UICheckbox & UIRadio ## ## ## */
input[type=checkbox],
input[type=radio] {
  width: 16px;
  height: 16px;
  margin: 7px 5px;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2);
  background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
  background-image: -ms-linear-gradient(top, #ffffff, #e2e2e2);
  background-image: -o-linear-gradient(top, #ffffff, #e2e2e2);
  background-image: linear-gradient(top, #ffffff, #e2e2e2);
  border-color: #afafaf;
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearange: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: top;
  color: #444;
  position: relative;
}
input[type=checkbox] {
  border-radius: 2px;
}
input[type=radio] {
  border-radius: 10px;
}
input[type=checkbox].large,
input[type=radio].large {
  width: 18px;
  height: 18px;
}
input[type=checkbox].large::after {
  font-size: 15px;
  top: -1px;
  left: 2px;
}
input[type=checkbox].small,
input[type=radio].small {
  width: 14px;
  height: 14px;
}
input[type=checkbox].small::after {
  font-size: 12px;
  top: -2px;
  left: 1px;
}
input[type=checkbox].mini,
input[type=radio].mini {
  width: 12px;
  height: 12px;
}
input[type=checkbox].mini::after {
  font-size: 10px;
}
input[type=checkbox]:active,
input[type=radio]:active {
  border-color: #999999;
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #eaeaea, #ffffff);
  background-image: -moz-linear-gradient(top, #eaeaea, #ffffff);
  background-image: -ms-linear-gradient(top, #eaeaea, #ffffff);
  background-image: -o-linear-gradient(top, #eaeaea, #ffffff);
  background-image: linear-gradient(top, #eaeaea, #ffffff);
  border-color: #888888;
  border-width: 1px;
  border-style: solid;
}
input[type=checkbox]::after {
  opacity: 0;
  font-size: 14px;
  position: relative;
  top: -2px;
  left: 1px;
}
input[type=checkbox]:checked::after {
  opacity: 1;
}
input[type=checkbox]::after {
  content: "✔";
}
input[type=radio]::after {
  width: 6px;
  height: 6px;
  background-color: #555555;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  -ms-box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  -o-box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  content: "";
  display: block;
  position: relative;
  top: 4px;
  left: 4px;
  opacity: 0;
}
input[type=radio]:checked::after {
  opacity: 1;
}
input[type=radio].large::after {
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
}
input[type=radio].small::after {
  width: 6px;
  height: 6px;
  top: 3px;
  left: 3px;
}
input[type=radio].mini::after {
  width: 4px;
  height: 4px;
  top: 3px;
  left: 3px;
}
/* #################################### */
/* ## ## ## UISegmentedControl ## ## ## */
div.segmentedcontrol {
  margin: 2px 10px;
  padding: 0;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  list-style-type: none;
}
div.segmentedcontrol button {
  margin: 0 0 0 -5px;
  padding: 4px 18px 4px;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
}
div.segmentedcontrol button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.segmentedcontrol button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.segmentedcontrol.large button {
  padding: 6px 24px 5px;
  font-size: 17px;
}
div.segmentedcontrol.small button {
  padding: 4px 16px 3px;
  font-size: 11px;
}
div.segmentedcontrol.mini button {
  padding: 1px 13px 0;
  font-size: 11px;
}
/* ################################ */
/* ## ## ## UINotification ## ## ## */
.notification {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(230, 230, 230, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.9));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.9));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.9));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.9));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(230, 230, 230, 0.9));
  border-color: #a9a9a9;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  min-width: 10%;
  max-width: 25%;
  margin: 0;
  color: #444;
  position: fixed;
  top: 30px;
  right: 15px;
  z-index: 70;
  cursor: default;
}
.notification > header *,
.notification > section * {
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notification h1 {
  font-size: 13px;
}
.notification p {
  font-size: 11px;
}
.notification > header {
  padding: 15px 25px 0;
  font-weight: bold;
}
.notification > section {
  padding: 0 25px 15px;
  font-style: italic;
}
.notification > footer {
  margin: 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -ms-box-shadow: inset 0 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  display: -webkit-box;
  border-top: 1px solid #bebebe;
}
.notification > footer button {
  display: -webkit-box;
  margin: 5px;
  font-size: 10px;
  -webkit-box-flex: 1;
}
/* ########################### */
/* ## ## ## UIPopOver ## ## ## */
div.popover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  border-color: #a9a9a9;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 0 1px white, inset 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.2);
  min-height: 40px;
  min-width: 60px;
  padding: 0;
  font: 12px Tahoma,Arial;
  color: #555;
  text-align: center;
  position: absolute;
  opacity: 0;
  z-index: 99;
  cursor: default;
}
div.popover * {
  pointer-events: none;
}
div.popover.active * {
  pointer-events: all;
}
div.popover > header,
div.popover > form > header {
  padding: 10px 15px 7px;
  border-bottom: 1px solid #bebebe;
  box-shadow: 0 1px 0 white;
  font-size: 13px;
  font-weight: normal;
  color: #646464;
}
div.popover > section,
div.popover > form > section {
  display: inline-block;
  padding: 10px 15px;
}
div.popover > section > div,
div.popover > form > section > div {
  margin: 13px 0;
}
div.popover footer,
div.popover > form > footer {
  display: block;
  padding: 5px 10px;
  border-top: 1px solid #bebebe;
  box-shadow: inset 0 1px 0 white;
}
div.popover div.popover-arrow {
  width: 22px;
  height: 22px;
  background: #f6f6f6;
  border: 2px solid rgba(169, 169, 169, 0.9);
  border-width: 2px 0 0 2px;
  border-radius: 1px 0 0 0;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 45%;
  z-index: 9;
  -webkit-transform: rotate(45deg);
  -webkit-mask: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.56, #000000), color-stop(0.57, transparent), to(transparent));
}
div.popover.below div.popover-arrow {
  top: -13px;
}
div.popover.above div.popover-arrow {
  background-color: #dedede;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  bottom: -13px;
}
div.popover.right div.popover-arrow {
  background-color: #e9e9e9;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
div.popover.left div.popover-arrow {
  background-color: #e9e9e9;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
div.popover {
  font-size: 13px;
}
div.popover div.popover-arrow {
  width: 15px;
  height: 15px;
}
div.popover.below div.popover-arrow {
  top: -9px;
}
div.popover.above div.popover-arrow {
  bottom: -9px;
}
div.popover.large {
  box-shadow: inset 0 0 0 1px #ffffff, 0 0 18px rgba(0, 0, 0, 0.4);
  font-size: 16px;
}
div.popover.large div.popover-arrow {
  width: 18px;
  height: 18px;
}
div.popover.large.below div.popover-arrow {
  top: -11px;
}
div.popover.large.above div.popover-arrow {
  bottom: -11px;
}
div.popover.small {
  box-shadow: inset 0 0 0 1px #ffffff, 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 11px;
}
div.popover.small div.popover-arrow {
  width: 11px;
  height: 11px;
}
div.popover.small.below div.popover-arrow {
  top: -7px;
}
div.popover.small.above div.popover-arrow {
  bottom: -7px;
}
div.popover.mini {
  box-shadow: inset 0 0 0 1px #ffffff, 0 0 7px rgba(0, 0, 0, 0.2);
  font-size: 11px;
}
div.popover.mini div.popover-arrow {
  width: 7px;
  height: 7px;
}
div.popover.mini.below div.popover-arrow {
  top: -5px;
}
div.popover.mini.above div.popover-arrow {
  bottom: -5px;
}
div.popover.selectable {
  max-height: 300px;
  border-radius: 0;
  overflow: scroll;
}
div.popover.selectable ul,
div.tabbed aside ul {
  margin: 0;
  padding: 2px 1px 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style-type: none;
}
div.popover.selectable ul li {
  border-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  margin: -1px 0 0 0;
  padding: 3px 15px;
  text-align: left;
}
div.popover.selectable ul li.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#319be7), to(#1b78d9));
  background-image: -webkit-linear-gradient(top, #319be7, #1b78d9);
  background-image: -moz-linear-gradient(top, #319be7, #1b78d9);
  background-image: -ms-linear-gradient(top, #319be7, #1b78d9);
  background-image: -o-linear-gradient(top, #319be7, #1b78d9);
  background-image: linear-gradient(top, #319be7, #1b78d9);
  color: #fafafa;
}
div.popover ul li a {
  -webkit-transition: all none ease-in-out !important;
  -moz-transition: all none ease-in-out !important;
  -ms-transition: all none ease-in-out !important;
  -o-transition: all none ease-in-out !important;
  transition: all none ease-in-out !important;
}
div.tabbed {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
}
div.tabbed section,
div.tabbed aside {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  display: inline-block;
  vertical-align: top;
}
div.tabbed aside {
  width: auto;
  min-height: 80px;
  padding: 0;
  border-right: 1px solid #bebebe;
  box-shadow: 1px 0 0 white;
  overflow-y: scroll;
}
div.tabbed aside ul {
  padding: 15px 0;
  overflow-y: scroll;
}
div.tabbed aside ul li {
  border-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  -webkit-transition: border 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out;
  -ms-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  margin: -1px -1px 0 -1px;
  padding: 7px 15px 7px 30px;
  font-family: Courier;
  font-size: 14px;
  text-align: right;
  position: relative;
  z-index: 5;
}
div.tabbed aside ul li:hover {
  border-color: #a9a9a9;
  border-width: 1px 0;
  border-style: solid;
  -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 8px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 8px rgba(0,0,0,0.15);
  -ms-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 8px rgba(0,0,0,0.15);
  -o-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 8px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 8px rgba(0,0,0,0.15);
  z-index: 6;
}
div.tabbed aside ul li:active,
div.tabbed aside ul li.active {
  border-color: #a9a9a9;
  border-width: 1px 0;
  border-style: solid;
  -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 12px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 12px rgba(0,0,0,0.3);
  -ms-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 12px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 12px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 0 white, inset 0 -1px 0 white, 0 0 12px rgba(0,0,0,0.3);
  font-weight: bold;
  font-style: italic;
  z-index: 7;
}
div.tabbed section footer {
  margin: 0 -14px 0;
  position: relative;
  top: 10px;
}
/* ######################### */
/* ## ## ## UIAlert ## ## ## */
div.alert {
  display: -webkit-box;
  margin: 0;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
div.alert-fog {
  display: inline-block;
  background-image: -webkit-radial-gradient(transparent, #000000);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
div.alert-border {
  display: inline-block;
  background-color: #ffffff;
  min-width: 300px;
  padding: 8px;
  border: 1px solid rgba(28, 28, 28, 0.6);
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -50px;
  z-index: 101;
  overflow: hidden;
}
div.alert-body {
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  padding: 15px 20px;
  border: 1px solid #a9a9a9;
  border-radius: 13px;
  box-shadow: inset 0 0 0 1px #ffffff, inset 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: relative;
}
div.alert-body > header {
  color: #313131;
  font-size: 23px;
}
div.alert-body > section {
  min-height: 20px;
  color: #474747;
  font-size: 15px;
}
div.alert-body > footer {
  margin: 15px -20px -15px;
  padding: 10px;
  border-top: 1px solid #bebebe;
  box-shadow: inset 0 1px 0 white;
  text-align: center;
}
div.alert-body > footer button {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 25px;
  padding-left: 25px;
}
/* ######################## */
/* ## ## ## UIHint ## ## ## */
div.hint {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff1c3), to(#ffe383));
  background-image: -webkit-linear-gradient(top, #fff1c3, #ffe383);
  background-image: -moz-linear-gradient(top, #fff1c3, #ffe383);
  background-image: -ms-linear-gradient(top, #fff1c3, #ffe383);
  background-image: -o-linear-gradient(top, #fff1c3, #ffe383);
  background-image: linear-gradient(top, #fff1c3, #ffe383);
  border-color: #b49e22;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #ffffff;
  margin: 0;
  padding: 4px 10px;
  font-size: 11px;
  color: #424242;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
/* ########################## */
/* ## ## ## UISwitch ## ## ## */
.switch {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(top, #ffffff, #eaeaea);
  border-color: #818181;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  display: inline-block;
  width: 65px;
  height: 20px;
  margin: 5px 7px;
  position: relative;
  z-index: 3;
  overflow: hidden;
  vertical-align: top;
  text-align: left !important;
  -webkit-user-select: none;
}
.switch-container {
  height: 20px;
  margin: 0;
  position: relative;
  z-index: 2;
}
.switch-container > * {
  display: inline-block;
  vertical-align: top;
}
.switch-container > input,
.switch-container > input:checked,
.switch.checked input,
.switch input:active {
  width: 22px;
  height: 22px;
  border-color: #818181;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px !important;
  -webkit-box-shadow: inset 0 0 0 1px white, 0 0 7px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 0 0 1px white, 0 0 7px rgba(0,0,0,0.4);
  -ms-box-shadow: inset 0 0 0 1px white, 0 0 7px rgba(0,0,0,0.4);
  -o-box-shadow: inset 0 0 0 1px white, 0 0 7px rgba(0,0,0,0.4);
  box-shadow: inset 0 0 0 1px white, 0 0 7px rgba(0,0,0,0.4);
  margin: -1px -11px !important;
  position: relative;
  z-index: 3;
  -moz-appearance: radio;
  -webkit-appearance: none;
}
.switch-container > .slider {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(bottom, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(bottom, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(bottom, #ffffff, #e6e6e6);
  background-image: linear-gradient(bottom, #ffffff, #e6e6e6);
  -webkit-box-shadow: inset 0 0 7px #bababa;
  -moz-box-shadow: inset 0 0 7px #bababa;
  -ms-box-shadow: inset 0 0 7px #bababa;
  -o-box-shadow: inset 0 0 7px #bababa;
  box-shadow: inset 0 0 7px #bababa;
  width: 55px;
  height: 20px;
  margin: 0 0 0 -45px;
  position: relative;
  z-index: 1;
}
.switch-container > input::before,
.switch-container > input:checked::before,
.switch-container > input::after,
.switch-container > input:checked::after {
  display: block !important;
  color: #555;
  font: bold 12px Verdana, Arial, sans-serif;
  position: relative;
  opacity: 1 !important;
  pointer-events: none;
}
.switch-container > input::before,
.switch-container > input:checked::before {
  content: "ON";
  top: 3px;
  left: -30px;
}
.switch-container > input::after,
.switch-container > input:checked::after {
  content: "OFF" !important;
  top: -12px;
  left: 28px;
}
/* ############################## */
/* ## ## ## UIFilePicker ## ## ## */
.filepicker {
  display: block;
  background-color: white;
  border: 1px solid #afafaf;
  border-radius: 5px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff;
  overflow: hidden;
  -webkit-user-select: none;
}
.filepicker div.item {
  display: block;
  padding: 5px 30px 7px 25px;
  font-size: 11px;
  color: #737373;
  text-align: left;
}
.filepicker div.item.active {
  background-image: -webkit-linear-gradient(top, #319be7, #1b78d9);
  color: #fafafa;
}
/* ######################### */
/* ## ## ## UITable ## ## ## */
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 13px;
}
table thead th,
table tfoot td {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0d0d0));
  background-image: -webkit-linear-gradient(top, #ffffff, #d0d0d0);
  background-image: -moz-linear-gradient(top, #ffffff, #d0d0d0);
  background-image: -ms-linear-gradient(top, #ffffff, #d0d0d0);
  background-image: -o-linear-gradient(top, #ffffff, #d0d0d0);
  background-image: linear-gradient(top, #ffffff, #d0d0d0);
}
table thead th {
  padding: 11px 10px 4px;
  text-align: center;
}
table td,
table th {
  padding: 4px 10px;
  border: 1px solid #cacaca;
  white-space: nowrap;
}
table tr {
  background: white;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
table tr:nth-child(even) {
  background: #f6f6f6;
}
table tr:hover {
  background: #eee;
}
/* ######################### */
/* ## ## ## UIForms ## ## ## */
fieldset {
  border-color: #a9a9a9;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #ffffff;
  padding: 20px 13px;
  margin: 10px;
  border: none;
  text-align: left;
}
fieldset legend {
  background-color: #fafafa;
  border-color: #a9a9a9;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: inset 0 0 0 1px white, 0 0 15px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 0 1px white, 0 0 15px rgba(0,0,0,0.2);
  -ms-box-shadow: inset 0 0 0 1px white, 0 0 15px rgba(0,0,0,0.2);
  -o-box-shadow: inset 0 0 0 1px white, 0 0 15px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 0 1px white, 0 0 15px rgba(0,0,0,0.2);
  padding: 3px 7px;
  margin: -20px 0 0 15px;
  text-align: left;
}
fieldset footer {
  border-color: #a9a9a9;
  border-width: 1px 0 0 0;
  border-style: solid;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -ms-box-shadow: inset 0 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  padding: 5px 7px;
  margin: 10px -13px -20px;
  text-align: center;
}
label {
  display: inline-block;
  width: 40%;
  padding: 2px 10px;
  margin: 8px 0;
  text-align: left;
}
/* ######################## */